In [23]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
#print(os.listdir("C:/home/mamun/Downloads/water-quality-prediction-data"))

# Any results you write to the current directory are saved as output.

In [24]:
data=pd.read_csv('/home/mamun/Downloads/Water-Quality-Prediction-using-ANN/water_dataX.csv',encoding="ISO-8859-1")
data.fillna(0, inplace=True)
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [25]:
data.dtypes

STATION CODE                        object
LOCATIONS                           object
STATE                               object
Temp                                object
D.O. (mg/l)                         object
PH                                  object
CONDUCTIVITY (µmhos/cm)             object
B.O.D. (mg/l)                       object
NITRATENAN N+ NITRITENANN (mg/l)    object
FECAL COLIFORM (MPN/100ml)          object
TOTAL COLIFORM (MPN/100ml)Mean      object
year                                 int64
dtype: object

In [26]:
#conversions
data['Temp']=pd.to_numeric(data['Temp'],errors='coerce')
data['D.O. (mg/l)']=pd.to_numeric(data['D.O. (mg/l)'],errors='coerce')
data['PH']=pd.to_numeric(data['PH'],errors='coerce')
data['B.O.D. (mg/l)']=pd.to_numeric(data['B.O.D. (mg/l)'],errors='coerce')
data['CONDUCTIVITY (µmhos/cm)']=pd.to_numeric(data['CONDUCTIVITY (µmhos/cm)'],errors='coerce')
data['NITRATENAN N+ NITRITENANN (mg/l)']=pd.to_numeric(data['NITRATENAN N+ NITRITENANN (mg/l)'],errors='coerce')
data['TOTAL COLIFORM (MPN/100ml)Mean']=pd.to_numeric(data['TOTAL COLIFORM (MPN/100ml)Mean'],errors='coerce')
data.dtypes

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)    float64
FECAL COLIFORM (MPN/100ml)           object
TOTAL COLIFORM (MPN/100ml)Mean      float64
year                                  int64
dtype: object

In [27]:
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203.0,NaN,0.1,11,27.0,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189.0,2.0,0.2,4953,8391.0,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179.0,1.7,0.1,3243,5330.0,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64.0,3.8,0.5,5382,8443.0,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83.0,1.9,0.4,3428,5500.0,2014

In [28]:
#new_data = data[['Temp','D.O. (mg/l)','PH','B.O.D. (mg/l)','CONDUCTIVITY (µmhos/cm)','NITRATENAN N+ NITRITENANN (mg/l)','TOTAL COLIFORM (MPN/100ml)Mean']]
X = data[['Temp','D.O. (mg/l)','B.O.D. (mg/l)','CONDUCTIVITY (µmhos/cm)','NITRATENAN N+ NITRITENANN (mg/l)','TOTAL COLIFORM (MPN/100ml)Mean']]
y = data['PH']

In [29]:
X = X.iloc[:1779,:]

In [30]:
y = y.iloc[:1779]

In [31]:
X = X.replace(np.nan,0)
y = y.replace(np.nan,0)

In [32]:
X.head()

,Temp,D.O. (mg/l),B.O.D. (mg/l),CONDUCTIVITY (µmhos/cm),NITRATENAN N+ NITRITENANN (mg/l),TOTAL COLIFORM (MPN/100ml)Mean
0,30.6,6.7,0.0,203.0,0.1,27.0
1,29.8,5.7,2.0,189.0,0.2,8391.0
2,29.5,6.3,1.7,179.0,0.1,5330.0
3,29.7,5.8,3.8,64.0,0.5,8443.0
4,29.5,5.8,1.9,83.0,0.4,5500.0

In [33]:
y.head()

0    7.5
1    7.2
2    6.9
3    6.9
4    7.3
Name: PH, dtype: float64

In [34]:
y.max(axis=0)

9.01

In [35]:
y.min(axis=0)

0.0

In [36]:
y_new = []
for i in y_new:
    if i>=0 and i<5:
        y_new.append(0)
    elif i>=5 and i<7:
        y_new.append(1)
    elif i>=7 and i<8:
        y_new.append(2)
    elif i>=8:
        y_new.append(3)

In [37]:
from sklearn.preprocessing import StandardScaler
# For scaling
scale = StandardScaler()

# Batch
batch_size = 32

#epoch
epochs = 120

In [38]:
X = scale.fit_transform(X)

In [39]:
X

array([[ 1.00998736,  0.2926185 , -0.25626962, -0.29369409, -0.3507443 ,
        -0.03806033],
       [ 0.84400608, -0.35053564, -0.1761654 , -0.29615736, -0.32607402,
        -0.03748532],
       [ 0.7817631 ,  0.03535685, -0.18818103, -0.29791684, -0.3507443 ,
        -0.03769576],
       ...,
       [-3.05655408,  2.41502717, -0.21621751, -0.30301932,  0.61139672,
        -0.03803813],
       [-2.84907748,  1.77187303, -0.18417582, -0.30161174,  1.40084577,
        -0.03804294],
       [-0.42844793,  0.97886397, -0.23624356, -0.32941147, -0.37541458,
        -0.03806219]])

In [40]:
num_classes=4
from keras.layers import Input, Dense, Dropout, Activation
from keras.models import Sequential, Model
def build_model(X, y):
    inputs = Input(shape=(X.shape[1],))
    outputs = Dense(32, activation='relu')(inputs)
    outputs = Dense(64, activation='relu')(outputs)
    predictions = Dense(num_classes, activation='softmax')(outputs)
    model = Model(inputs=inputs, outputs=predictions)
    return model

In [41]:
from keras.utils import to_categorical
y = to_categorical(y_new, num_classes=num_classes)

In [42]:
y.shape

(0, 4)

In [43]:
X.shape

(1779, 6)

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

ValueError: Found input variables with inconsistent numbers of samples: [1779, 0]

In [45]:
from keras.optimizers import Adam
optimizer = Adam(lr=0.001, beta_1=0.9, beta_2=0.999)

In [46]:
model = build_model(X, y)

In [47]:
model.compile(loss='categorical_crossentropy', optimizer=optimizer, metrics=['acc'])

In [48]:
history = model.fit(X_train, y_train, batch_size = batch_size, epochs = epochs, validation_data = (X_test, y_test))

NameError: name 'X_train' is not defined

In [49]:
import matplotlib.pyplot as plt
plt.plot(history.history['loss'], label='train')
plt.plot(history.history['val_loss'], label='test')
plt.title("Model Loss")
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()

NameError: name 'history' is not defined

In [50]:
import matplotlib.pyplot as plt
plt.plot(history.history['acc'], label='train')
plt.plot(history.history['val_acc'], label='test')
plt.title("Model Acc")
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.legend();

NameError: name 'history' is not defined

In [ ]:
_, acc = model.evaluate(X_test, y_test)
print("Accuracy: ", (acc * 100.0), "%")